@use "variables" as *;
@use "mixins" as *;

.about {
  background: $burgundy;

  h1 {
    text-align: center;

    @include breakpoint-up(large) {
      text-align: left;
    }
  }

  &__grid {
    display: flex;
    flex-direction: column;

    @include breakpoint-up(large) {
      flex-direction: row;
      gap: 15rem;
    }
  }

  &__img {
    order: 1;
    text-align: center;
    padding-bottom: 2rem;

    img {
      border: 1px white solid;
      border-radius: 40px;

      @include breakpoint-down(medium) {
        width: calc(100vw - 3rem);
      }
    }
    @include breakpoint-up(large) {
      order: 2;
      margin-top: -4rem;
    }
  }

  &__text {
    order: 2;
    text-align: center;

    font-size: 1rem;
    font-size: clamp(1rem, 0.7894736842105263rem + 0.5263157894736842vw, 1.25rem);

    @include breakpoint-up(large) {
      order: 1;
      text-align: left;
    }
  }
}