@use "variables" as *;
@use "mixins" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@media (prefers-reduce-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  font-family: "Aileron", sans-serif;
  line-height: 1.2;
  font-size: 1rem;
  letter-spacing: -0.0375rem;
  background-color: $burgundy;
  color: white;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.noscroll {
  overflow: hidden;
}

// Text
h1 {
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: -0.8;
  line-height: 1;
  font-weight: 400;
  font-size: 2rem;

  span {
    img {
      width: 20px;
    }

    padding: 1rem;
    padding: clamp(1rem, -2.3684210526315788rem + 8.421052631578947vw, 5rem);
  }

  padding-bottom: 1rem;
  padding-bottom: clamp(1rem, 0.1578947368421053rem + 2.1052631578947367vw, 2rem);
  // padding-bottom: 1rem;
  // @include breakpoint-up(large) {
  //   padding-bottom: 2rem;
  // }
}

//Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

.container {
  padding-top: 3rem;
  padding-left: 1.5rem;
  padding-bottom: 3rem;
  padding-right: 1.5rem;

  @include breakpoint-up(large) {
    padding-top: 5rem;
    padding-left: 7.5rem;
    padding-bottom: 5rem;
    padding-right: 7.5rem;
  }
}

// Visibility
.hide-for-mobile {
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(large) {
    display: none;
  }
}

// Links
.button {
  border: $white 1px solid;
  border-radius: 40px;
  padding: 10px 68px;
  color: $white;
  transition: all 300ms ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

// Scrolling Animation
.fade-in-scroll {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  // Stagger children
  &:nth-child(2) {
    transition-delay: 0.2s;
  }
  &:nth-child(3) {
    transition-delay: 0.4s;
  }
}